@charset "UTF-8";

/* Todas as demais mídias */

/* 
Typical device breakpoints 
--------------------------
Telas muito pequenas: -600px
Celulares: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Telas muito grandes: 1201px+
*/

/* Como já foi criado um arquivo css para dispositivos móveis, podemos ignorar as configurações de media pra dispositivos celulares até 768px */

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }

    main {
        border: 2px solid black;
        width: 90vw;
        text-align: center;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site do Dinegão';
        font-weight: bolder;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}